<a href="https://colab.research.google.com/github/angelahjhong/project-2/blob/main/CHD_testcleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv('/content/fhs_test.csv')
df.head()

,Unnamed: 0,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,674,0,58,1.0,1,20.0,0.0,0,0,0,NaN,126.0,77.0,30.08,78.0,NaN,0
1,4070,0,51,3.0,0,0.0,0.0,0,0,0,264.0,135.0,83.0,26.68,60.0,74.0,0
2,3150,0,44,2.0,1,9.0,0.0,0,1,0,NaN,147.5,96.0,30.57,78.0,NaN,1
3,1695,0,40,2.0,1,20.0,0.0,0,0,0,271.0,138.5,88.0,27.24,80.0,NaN,1
4,2692,1,58,2.0,1,20.0,0.0,0,0,0,207.0,110.0,80.0,23.55,78.0,78.0,0

In [62]:
df.columns

Index(['Unnamed: 0', 'sex', 'age', 'education', 'currentSmoker', 'cigsPerDay',
       'BPMeds', 'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol',
       'sysBP', 'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [63]:
df.shape

(1060, 17)

**Dropping unused variables**

In [64]:
# unnamed column is not needed in our data set
df.drop(columns=['Unnamed: 0'], inplace=True)

**Cleaning sex variable**

In [65]:
# sex variable has no nan values, however is coded a binary when it should be 1=male or 0=female
df['sex'].info()
df['sex'].value_counts()

<class 'pandas.core.series.Series'>
RangeIndex: 1060 entries, 0 to 1059
Series name: sex
Non-Null Count  Dtype
--------------  -----
1060 non-null   int64
dtypes: int64(1)
memory usage: 8.4 KB

sex
0    617
1    443
Name: count, dtype: int64

In [66]:
# recoded sex
df['sex'] = df['sex'].replace([0], 'Female')
df['sex'] = df['sex'].replace([1], 'Male')

**Cleaning age variable**

In [67]:
# age variable does not need cleaning - has no nan values and naming convention is correct
df['age'].info()
df['age'].unique()

<class 'pandas.core.series.Series'>
RangeIndex: 1060 entries, 0 to 1059
Series name: age
Non-Null Count  Dtype
--------------  -----
1060 non-null   int64
dtypes: int64(1)
memory usage: 8.4 KB

array([58, 51, 44, 40, 53, 41, 50, 42, 45, 52, 57, 46, 38, 47, 48, 56, 66,
       68, 59, 54, 49, 39, 61, 62, 67, 43, 64, 37, 34, 35, 55, 36, 63, 65,
       60, 69])

**Cleaning currentSmoker variable**

In [68]:
# currentSmoker variable has no nan values, however is coded a binary when it should be 1=yes or 0=no
df['currentSmoker'].info()
df['currentSmoker'].value_counts()

<class 'pandas.core.series.Series'>
RangeIndex: 1060 entries, 0 to 1059
Series name: currentSmoker
Non-Null Count  Dtype
--------------  -----
1060 non-null   int64
dtypes: int64(1)
memory usage: 8.4 KB

currentSmoker
1    534
0    526
Name: count, dtype: int64

In [69]:
# recoded currentSmoker
df['currentSmoker'] = df['currentSmoker'].replace([0], 'No')
df['currentSmoker'] = df['currentSmoker'].replace([1], 'Yes')

**Cleaning cigsPerDay variable**

In [70]:
# cigsPerDay has 5 nan values
df['cigsPerDay'].info()
df['cigsPerDay'].unique()

<class 'pandas.core.series.Series'>
RangeIndex: 1060 entries, 0 to 1059
Series name: cigsPerDay
Non-Null Count  Dtype
--------------  -----
1055 non-null   float64
dtypes: float64(1)
memory usage: 8.4 KB

array([20.,  0.,  9.,  5., 35., 30., 10., 40.,  1., 15.,  3., 45., 25.,
       43., 17., 23., 13., 18., 50.,  4.,  2.,  6., nan, 60.,  8., 12.,
        7., 14.])

In [71]:
cigs_median = df['cigsPerDay'].median()
print(cigs_median)

1.0

In [72]:
# fill nan values with median to avoid skewed data
df['cigsPerDay'] = df['cigsPerDay'].fillna(cigs_median)

**Cleaning prevelantStroke variable**

In [73]:
# prevalentStroke variable has no nan values, however is coded a binary when it should be 1=yes or 0=no
df['prevalentStroke'].info()
df['prevalentStroke'].value_counts()

<class 'pandas.core.series.Series'>
RangeIndex: 1060 entries, 0 to 1059
Series name: prevalentStroke
Non-Null Count  Dtype
--------------  -----
1060 non-null   int64
dtypes: int64(1)
memory usage: 8.4 KB

prevalentStroke
0    1056
1       4
Name: count, dtype: int64

In [74]:
# recoded prevalentStroke
df['prevalentStroke'] = df['prevalentStroke'].replace([0], 'No')
df['prevalentStroke'] = df['prevalentStroke'].replace([1], 'Yes')

**Cleaning prevalentHyp variable**

In [75]:
# prevalentHyp variable has no nan values, however is coded a binary when it should be 1=yes or 0=no
df['prevalentHyp'].info()
df['prevalentHyp'].value_counts()

<class 'pandas.core.series.Series'>
RangeIndex: 1060 entries, 0 to 1059
Series name: prevalentHyp
Non-Null Count  Dtype
--------------  -----
1060 non-null   int64
dtypes: int64(1)
memory usage: 8.4 KB

prevalentHyp
0    764
1    296
Name: count, dtype: int64

In [76]:
# recoded prevalentHyp
df['prevalentHyp'] = df['prevalentHyp'].replace([0], 'No')
df['prevalentHyp'] = df['prevalentHyp'].replace([1], 'Yes')

**Cleaning diabetes variable**

In [77]:
# diabetes variable has no nan values, however is coded a binary when it should be 1=yes or 0=no
df['diabetes'].info()
df['diabetes'].value_counts()

<class 'pandas.core.series.Series'>
RangeIndex: 1060 entries, 0 to 1059
Series name: diabetes
Non-Null Count  Dtype
--------------  -----
1060 non-null   int64
dtypes: int64(1)
memory usage: 8.4 KB

diabetes
0    1034
1      26
Name: count, dtype: int64

In [78]:
# recoded diabetes
df['diabetes'] = df['diabetes'].replace([0], 'No')
df['diabetes'] = df['diabetes'].replace([1], 'Yes')

**Cleaning BMI variable**

In [79]:
# BMI has 4 nan values
df['BMI'].info()
df['BMI'].unique()

<class 'pandas.core.series.Series'>
RangeIndex: 1060 entries, 0 to 1059
Series name: BMI
Non-Null Count  Dtype
--------------  -----
1056 non-null   float64
dtypes: float64(1)
memory usage: 8.4 KB

array([30.08, 26.68, 30.57, 27.24, 23.55, 25.82, 27.8 , 21.98, 29.8 ,
       25.77, 27.3 , 22.32, 33.32, 27.66, 28.57, 24.19, 39.6 , 29.84,
       23.45, 29.08, 20.89, 22.83, 25.09, 28.3 , 23.26, 25.54, 27.56,
       25.5 , 26.48, 25.94, 24.68, 27.22, 26.83, 36.12, 21.02, 32.84,
       23.87, 27.93, 20.68, 22.18, 21.67, 19.72, 24.22, 22.14, 30.74,
       25.65, 23.33, 21.3 , 27.89, 29.5 , 29.38, 20.52, 28.27, 22.35,
       25.75, 28.04, 22.19, 26.07, 26.89, 24.42, 26.84, 20.85, 23.64,
       24.32, 21.35, 20.39, 20.72, 24.35, 30.34, 35.35, 29.48, 26.91,
       26.87, 28.44, 20.02, 28.33, 21.5 , 21.19, 26.59, 25.67, 23.19,
       21.14, 25.48, 28.55, 25.71, 23.09, 21.45, 24.24, 30.16, 23.22,
       20.51, 32.52, 21.11, 26.13, 24.47, 28.4 , 24.71, 32.35, 28.67,
       24.72, 29.19, 29.07, 25.84, 24.49, 20.12, 26.18, 22.85, 36.21,
       27.1 , 24.69, 25.11, 29.43, 21.34, 34.84, 30.43, 25.04, 22.34,
       21.93, 29.42, 17.5 , 23.67, 24.1 , 23.27, 27.45, 24.77, 24.94,
       25.18, 29.35, 25.25, 28.28, 24.23, 18.76, 21.18, 27.17, 28.9 ,
       23.72, 24.3 , 31.64, 22.49, 21.99, 27.38,   nan, 25.33, 22.02,
       24.73, 30.93, 21.27, 31.52, 22.01, 25.38, 23.8 , 27.92, 18.82,
       28.7 , 24.91, 29.29, 28.09, 24.33, 19.78, 24.8 , 24.62, 15.96,
       23.06, 25.46, 20.93, 23.71, 26.86, 31.62, 32.4 , 32.27, 23.98,
       23.2 , 22.67, 33.99, 26.32, 22.16, 18.46, 35.68, 27.86, 23.13,
       28.56, 19.23, 26.36, 30.06, 26.92, 28.47, 20.7 , 26.06, 22.69,
       23.57, 26.25, 24.64, 25.56, 25.21, 25.89, 29.98, 25.62, 26.97,
       22.98, 25.51, 27.99, 26.53, 28.18, 24.79, 28.78, 26.09, 23.07,
       23.29, 23.24, 20.62, 20.34, 20.87, 27.28, 20.32, 22.64, 25.45,
       24.25, 32.66, 29.86, 28.85, 27.61, 28.21, 22.89, 28.35, 20.09,
       22.17, 28.89, 28.61, 24.83, 20.17, 26.17, 30.36, 24.98, 23.97,
       27.51, 25.2 , 30.91, 26.45, 31.82, 26.64, 24.01, 28.88, 30.28,
       29.82, 22.54, 29.14, 24.56, 19.56, 23.1 , 34.55, 24.87, 34.4 ,
       26.26, 19.63, 21.63, 26.05, 21.51, 24.08, 21.88, 20.26, 22.88,
       21.84, 20.49, 21.01, 25.05, 22.24, 30.32, 28.02, 32.36, 23.4 ,
       27.42, 29.77, 28.12, 23.82, 18.59, 23.65, 26.67, 31.6 , 28.38,
       23.56, 25.57, 20.33, 28.53, 28.25, 20.79, 31.14, 21.94, 18.26,
       28.23, 27.63, 29.04, 28.24, 27.05, 21.71, 27.27, 32.22, 24.51,
       36.79, 35.16, 26.28, 36.52, 24.07, 20.19, 25.23, 21.33, 30.46,
       21.31, 22.73, 27.64, 23.54, 24.36, 29.25, 23.86, 31.5 , 34.56,
       23.75, 37.62, 23.02, 30.14, 26.42, 21.2 , 26.24, 28.36, 26.56,
       23.95, 23.68, 28.58, 27.87, 25.12, 30.79, 22.5 , 28.95, 27.33,
       25.26, 26.11, 22.7 , 24.67, 30.12, 21.48, 22.9 , 25.91, 23.31,
       20.82, 29.97, 23.58, 25.63, 38.94, 23.03, 20.27, 23.01, 35.99,
       27.78, 22.92, 23.88, 21.07, 27.14, 30.53, 28.68, 18.38, 26.33,
       24.39, 29.47, 32.26, 25.14, 16.73, 18.87, 23.48, 27.12, 25.1 ,
       25.98, 24.57, 18.99, 33.02, 19.83, 29.63, 27.23, 23.18, 29.94,
       30.38, 26.76, 27.08, 23.77, 29.76, 21.83, 27.49, 24.59, 20.92,
       23.69, 29.01, 27.02, 24.89, 24.96, 24.81, 19.32, 26.39, 26.37,
       25.01, 27.26, 23.63, 22.81, 25.83, 27.68, 27.57, 23.79, 21.6 ,
       23.37, 19.76, 24.15, 26.71, 25.74, 27.96, 27.69, 20.57, 17.71,
       26.3 , 21.85, 20.59, 16.59, 31.98, 31.23, 30.18, 34.32, 23.52,
       29.67, 22.38, 27.73, 20.56, 27.91, 28.63, 26.03, 23.9 , 20.77,
       25.96, 30.61, 33.9 , 19.54, 20.15, 20.42, 23.14, 30.29, 23.05,
       23.51, 25.86, 24.84, 35.13, 18.18, 25.08, 25.88, 23.66, 22.91,
       24.44, 22.74, 22.26, 25.16, 27.82, 24.17, 22.05, 21.8 , 21.72,
       23.41, 24.58, 22.78, 22.71, 30.24, 25.85, 22.46, 26.98, 28.87,
       43.3 , 28.08, 22.25, 30.78, 22.  , 24.88, 29.02, 33.17, 30.75,
       22.53, 23.81, 24.02, 21.68, 26.69, 24.85, 31.16, 24.03, 19.16,
       35.11, 26.55, 26.81, 24.5 , 36.91, 26.49, 30.27, 30.55, 25.29,
       29.87, 23.34, 25.07, 26.73, 27.88, 35.02, 21.66, 28.76, 32.67,
       29.89, 19.39, 24.14, 37.02, 28.  , 20.86, 19.98, 30.58, 27.43,
       24.99, 19.26, 22.57, 29.41, 26.  , 19.05, 41.29, 22.27, 21.12,
       25.42, 34.69, 20.74, 23.16, 27.13, 26.35, 34.46, 18.83, 33.65,
       37.41, 27.09, 23.76, 26.04, 31.07, 29.15, 23.25, 23.84, 21.79,
       32.23, 27.47, 25.36, 22.52, 21.86, 30.8 , 29.59, 31.39, 21.41,
       23.35, 16.61, 28.81, 26.77, 24.  , 26.58, 21.96, 27.06, 25.37,
       22.99, 26.85, 22.66, 18.7 , 25.22, 20.31, 23.43, 23.85, 25.4 ,
       21.47, 33.6 , 26.8 , 29.88, 24.2 , 17.51, 35.2 , 35.19, 25.99,
       19.68, 45.79, 25.69, 23.08, 28.5 , 27.71, 18.75, 34.36, 24.06,
       26.72, 24.6 , 21.32, 33.29, 24.86, 18.06, 18.68, 21.26, 39.94,
       21.82, 22.04, 26.82, 19.57, 24.76, 24.12, 22.48, 24.92, 27.25,
       22.97, 27.2 , 19.64, 31.12, 26.51, 23.39, 38.61, 26.27, 29.62,
       22.36, 21.52, 24.9 , 27.11, 23.78, 27.94, 31.9 , 23.3 , 25.15,
       19.71, 22.15, 28.26, 22.72, 32.53, 28.92, 19.11, 24.38, 28.07,
       26.74, 34.89, 27.48, 23.42, 32.33, 22.33, 22.11, 26.22, 26.79,
       28.06, 17.11, 33.88, 32.63, 29.17, 22.79, 31.63, 27.6 , 27.4 ,
       31.34, 28.82, 19.94, 19.34, 20.23, 18.43, 20.2 , 23.59, 28.86,
       20.64, 31.65, 17.64, 26.4 , 33.03, 26.41, 30.85, 28.43, 25.41,
       42.15])

In [80]:
bmi_median = df['BMI'].median()
print(bmi_median)

25.14

In [81]:
# fill nan values with median to avoid skewed data
df['BMI'] = df['BMI'].fillna(bmi_median)

**Cleaning glucose variable**

In [82]:
# glucose has 103 nan values
df['glucose'].info()
df['glucose'].unique()

<class 'pandas.core.series.Series'>
RangeIndex: 1060 entries, 0 to 1059
Series name: glucose
Non-Null Count  Dtype
--------------  -----
957 non-null    float64
dtypes: float64(1)
memory usage: 8.4 KB

array([ nan,  74.,  78.,  83.,  73.,  82.,  70.,  87., 205.,  64.,  69.,
        80.,  79.,  62.,  90.,  85.,  58., 119.,  67., 163.,  66.,  77.,
        72., 143.,  71.,  99.,  75.,  91.,  89.,  63., 113., 122., 114.,
       100., 112.,  92., 102., 104.,  61., 108.,  81., 177.,  76.,  88.,
        60.,  68., 386.,  93., 117.,  95.,  59., 124., 107.,  65., 103.,
       137.,  86.,  84.,  45.,  98.,  57., 132., 140.,  94., 110.,  97.,
        55., 115., 325., 368.,  96.,  52.,  44., 170., 120., 123., 101.,
       394.,  53., 130., 223.,  56., 126., 105., 156., 136., 183., 173.,
       155., 106., 145.])

In [83]:
glucose_median = df['glucose'].median()
print(glucose_median)

78.0

In [84]:
# fill nan values with median to avoid skewed data
df['glucose'] = df['glucose'].fillna(glucose_median)

**Cleaning TenYearCHD variable**

In [85]:
# TenYearCHD variable has no nan values, however is coded a binary when it should be 1=at risk or 0=not at risk
df['TenYearCHD'].info()
df['TenYearCHD'].value_counts()

<class 'pandas.core.series.Series'>
RangeIndex: 1060 entries, 0 to 1059
Series name: TenYearCHD
Non-Null Count  Dtype
--------------  -----
1060 non-null   int64
dtypes: int64(1)
memory usage: 8.4 KB

TenYearCHD
0    903
1    157
Name: count, dtype: int64

In [86]:
# recoded TenYearCHD
df['TenYearCHD'] = df['TenYearCHD'].replace([0], 'Not at Risk')
df['TenYearCHD'] = df['TenYearCHD'].replace([1], 'At Risk')

In [87]:
# put cleaned variables into new df
clean_columns = ['sex','age','currentSmoker', 'cigsPerDay','prevalentStroke','prevalentHyp','diabetes','BMI','glucose','TenYearCHD']
cleaned_df = df[clean_columns].copy()

In [88]:
cleaned_df.head()

,sex,age,currentSmoker,cigsPerDay,prevalentStroke,prevalentHyp,diabetes,BMI,glucose,TenYearCHD
0,Female,58,Yes,20.0,No,No,No,30.08,78.0,Not at Risk
1,Female,51,No,0.0,No,No,No,26.68,74.0,Not at Risk
2,Female,44,Yes,9.0,No,Yes,No,30.57,78.0,At Risk
3,Female,40,Yes,20.0,No,No,No,27.24,78.0,At Risk
4,Male,58,Yes,20.0,No,No,No,23.55,78.0,Not at Risk

In [89]:
cleaned_df.to_csv('cleaned_test.csv', index=False)